@media (max-width: 600px) {
    body {

        scale: 0.4;

    }
}



body{

    background-color: black;
    display: flex;
    overflow: hidden;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(255,154,255,1) 100%);
    

}

.submit {

    color: antiquewhite;

}



#myInput {

outline: none;
text-align: center;
font-size: large;
height: 45px;
width: 600px;
margin-bottom: 20px;
background-color: transparent;
border: 2px solid #ff9aff;
border-radius: 45px;
box-shadow: 0 0 5px #ff9aff inset;
transition: 1.5s all ease;
}

#myInput:focus {
    background-color: #ff9aff;
    box-shadow: 0 0 15px #ff9aff;
}





::placeholder {

    color: gray;


}

#submitBtn {

    text-decoration: none;
    font-size: larger;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: transparent;
    text-align: center;
    width: 300px;
    height: 45px;
    border: 1px solid #ff9aff;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 5px #ff9aff, 0 0 5px #ff9aff inset;
    border-radius: 25px;
    overflow: hidden;
    transition: 1s all ease;
    user-select: none;
}



#submitBtn::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #ff9aff;
    transition: all 0.3s ease;
    
}

#submitBtn:hover {

    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px  #ff9aff;

}

#submitBtn:hover:after {

    left: 0;
    width: 100%;
    

}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
